<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- **************************************** -->
	<!-- * Spring annotations                   * -->
	<!-- **************************************** -->

	<context:annotation-config />

	<!-- **************************************** -->
	<!-- * Spring placeholder replacement       * -->
	<!-- * ${TOKEN}                             * -->
	<!-- **************************************** -->

	<context:property-placeholder location="${MEBWEB_PROPERTIES_LOCATION}"/>

	<!-- **************************************** -->
	<!-- * Application context provider         * -->
	<!-- **************************************** -->

	<bean id="applicationContextProvider" class="ch.bfs.meb.util.ApplicationContextProvider" />

	<!-- **************************************** -->
	<!-- * Webservices                          * -->
	<!-- **************************************** -->

	<bean id="webServiceClientFactory"
		class="ch.bfs.meb.web.service.client.WebServiceClientFactory">
		<property name="configuration">
			<ref bean="configuration" />
		</property>
	</bean>

	<!-- **************************************** -->
	<!-- * Advices                              * -->
	<!-- **************************************** -->


	

</beans>
